/pending.txt
/__pycache__
/output.mp3
temp_storage/*.png
debug_screenshots/*.*
training_data/*.*
training_data/*
training_data/
debug_screenshots/
design/
venv/*
venv/*.*
venv
voices_*.json
/*.code-workspace
/log.txt